/* VARIABLES */
:root {
    --color-primary: #971d41;
    --color-text: #EEE;
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BASE */

body,
html {
    height: 100dvh;
    width: 100dvw;
    color: var(--color-text);
    background-color: var(--color-primary);
}

/* GENERAL */

header {
    text-align: center;
}
