/* IMPORTS */

/* TODO: Remember to remove unneeded fonts from this import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Caveat:wght@600&display=swap');

/* VARIABLES */

:root {
    --color-primary: #971d41;
    --color-text: #EEE;

    --font-family: Comfortaa, sans-serif;
    --font-family-cursive: Caveat, cursive;

    --border-radius: 8px;
    --border: 2px solid var(--color-text);

    --animation-duration: 125ms;
}

/* RESETS */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* BASE */

body,
html {
    height: 100dvh;
    width: 100dvw;
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-primary);
}

/* GENERAL */

header {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    cursor: pointer;
    background-color: var(--color-text);
    color: var(--color-primary);
    letter-spacing: 0.25ch;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    transition: all var(--animation-duration) ease-in;
}

button:hover {
    outline: var(--border);
    outline-offset: 4px;
    box-shadow: 0px 0px 25px 0 var(--color-text);
}

/* UTILITY */

.bold {
    font-weight: bold;
}

.font-family-cursive {
    font-family: var(--font-family-cursive);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
